VITE_SUPABASE_URL=https://oqukpnyiwkyeoofopxaw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9xdWtwbnlpd2t5ZW9vZm9weGF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkzMDUyMjIsImV4cCI6MjA5NDg4MTIyMn0.AySX0KxmEhRdjOO0C-M_nxgjCVzNoZZ7ezH_x-4xf04
